.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}

.checkmark {
    outline: 3px solid #4EA8DE;
    border-radius: 8px;
}



.container input:checked~.checkmark {
    background-color: #5E60CE;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

